<!DOCTYPE html>
<html ng-app='jokeApp'>
    <head>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" href="main.css" type="text/css" />
        <title>JOT</title>
    </head>
    <body>
        <div id='wrapper' ng-controller='jokeController as jokeCtrl'>
          <div ng-controller = 'panelController as panelCtrl'>
            <div id='contents' ng-repeat='joke in jokeCtrl.jokes'>
            <div class="panel panel-default" ng-click='panelCtrl.panelClick(joke.num)'>
              <!-- Default panel contents -->
              <div class="panel-heading"></div>
                <joke-setup></joke-setup>
                <!-- List group -->
                <ul class="list-group" ng-repeat='punchline in joke.punchline'>
                  <joke-punchline></joke-punchline>
                </ul>
            </div> 
            <form ng-controller='commentController as commentCtrl' ng-submit='commentCtrl.addPunchline(joke)'>
              <li class="list-group-item">
                <h5>{{commentCtrl.userLine.text}}</h5>
                <p class='pull-right'>~ {{"anonymous"}} <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></p>
                &nbsp;                
              </li>
              <comment></comment>
            </form>
          </div>
        </div>
        </div>
    </body>
</html>